
.item-center h3{
    color: #ffffff;
}

.container{
    display: flex;
    margin: 3rem auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.container h2{    
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 50px;
    font-weight: 600;
}

.container p{    
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 300;
}

.SwipperContainer{
    margin: 3rem 5rem;
    height: 418px;
}
